html { overflow-y: scroll; }

table.author_roles { width: 100%; }
table.author_roles th, table.author_roles td { text-align: left; vertical-align: top; border: 1px solid #ddc; padding: 3px 5px; }
table.author_roles th.center { text-align: center; width: 50px; }
table.author_roles td.options { padding: 0; }
table.author_roles td.checkbox { text-align: center; }
table.author_roles td.checkbox input { float: none; margin: 0; }
table.author_roles td.active { background: #fff; border-bottom: 2px solid #fff; }
table.author_roles div.sub { display: none; padding: 10px 15px;}
table.author_roles th span { cursor: pointer; color: #000; border-bottom: 1px dotted #888; }
table.author_roles div.sub table td.checkbox { text-align: left; }
table.author_roles div.sub td, table.author_roles div.sub th { border: none; padding: 3px 0; }
table.author_roles div.sub th.name { padding-right: 50px;  }
table.author_roles div.sub td { border-top: 1px dotted #ddc; }
table.author_roles p.info { margin-top: 10px; font-style: italic; color: #999; }
table.author_roles td.required { color: #999; font-style: italic; }
table.author_roles label { padding: 3px 0; }
table.author_roles label input[type=checkbox] { float: none; position: static; top: 0; }
table.author_roles td.options div.entries label { margin-bottom: 0; }
table.author_roles td.options div.fields p.info { margin: 0; }
table.author_roles tr.even td { background:  #ddd; }
table.author_roles tr:hover td { border-bottom-color: #444; }
table.author_roles div.filter { margin-bottom: 5px; display: none; }
table.author_roles div.filter input { margin-right: 0; float: none; }